In [27]:
import itertools
import pandas as pd

In [84]:
df = pd.read_csv('day2_input.txt', sep='\t', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,4347,3350,196,162,233,4932,4419,3485,4509,4287,4433,4033,207,3682,2193,4223
1,648,94,778,957,1634,2885,1964,2929,2754,89,972,112,80,2819,543,2820
2,400,133,1010,918,1154,1008,126,150,1118,117,148,463,141,940,1101,89
3,596,527,224,382,511,565,284,121,643,139,625,335,657,134,125,152
4,2069,1183,233,213,2192,193,2222,2130,2073,2262,1969,2159,2149,410,181,1924

In [79]:
def solution1(df):  
    return df.apply(lambda x: max(x) - min(x), axis=1).sum()

In [80]:
solution1(df)

47136

In [85]:
def checksum(array):
    groups = itertools.combinations(array, 2)
    return sum(((max(val) // min(val)) for val in groups if (max(val) % min(val) == 0)))

def solution2(df):
    return df.apply(checksum, axis=1).sum()

In [86]:
solution2(df)

250